{% set data = exception.message %}
{
    "error":
        {
            "code": "{{ status_code }}",
            "message": {{ status_text | json_encode | raw }}
        },
    "data": {% if (data[0:1] == '{' and data[-1:1] == '}') or (data[0:1] == '[' and data[-1:1] == ']') %}{{ data|raw }}{% else %}{% set data = data | json_encode | raw %}{% if data[0:1] == '"' and data[-1:1] == '"' %}{{ data | raw }}{% else %}"{{ data | raw }}"{% endif %}{% endif %}{% if app.debug %},
    "exception": {{ exception.toarray | json_encode | raw }}{% endif %}
}
